<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>683024530611-kt7m86bgs5h9a54fcegdjmco6umbojs7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683024530611-kt7m86bgs5h9a54fcegdjmco6umbojs7</string>
	<key>API_KEY</key>
	<string>AIzaSyCcmbpcMg8hq0PH4e_Wyu_FcaJVhRbZkSs</string>
	<key>GCM_SENDER_ID</key>
	<string>683024530611</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jfss.fraserconnect</string>
	<key>PROJECT_ID</key>
	<string>fraserconnect</string>
	<key>STORAGE_BUCKET</key>
	<string>fraserconnect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:683024530611:ios:0bb1d1b16d7585fd</string>
	<key>DATABASE_URL</key>
	<string>https://fraserconnect.firebaseio.com</string>
</dict>
</plist>